@model List<SistemasRecetas.Models.Recipe>
<form asp-action="Index" asp-controller="Recipe" method="post">
    <h3 class="text-center">Buscar Receta</h3>

    <div class="row">
        <div>
            <input type="text" class="form-control text-center" name="name">
        </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-success w-100">Buscar</button>
</form>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var r in Model)
        {
            <li>
                <strong>@r.strMeal</strong><br/>
                <img src="@r.strMealThumb" width="200"/><br/>
                <p>@r.strInstructions</p>
            </li>
        }
    </ul>
}
else
{
    <p>No se encontraron recetas.</p>
}